* {
    box-sizing: border-box;
    border: none;
    font-family: var(--font-main);
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

html {
    background-color: var(--pluto-dark);
    scroll-behavior: smooth;
}

li {
    list-style-type: none;
}

.wrap {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px 120px;
}

.wrap-no-vert {
    padding: 0px 25px;
}

.wrap-no-hor {
    padding: 15px 0px;
}

.input {
    background-color: var(--pluto-dark);
    border: 1px solid var(--pluto-sea);
    border-radius: 5px;
    color: var(--pluto-sea);
    font-family: var(--font-main);
    font-size: var(--small);
    font-weight: 200;
    padding: 1rem 1rem;
    min-width: 250px;
    transition: all .2s ease-in;
}

.input:focus {
    border: 1px solid var(--pluto-peri);
    outline: 0;
    transition: all .2s ease-in;
}

.input::placeholder {
    color: var(--pluto-peri);
}

@media (max-width: 700px) {
    .wrap {
        padding: 10px;
    }
}
