.btn {
    background-color: var(--pluto-peri);
    border: 1px solid transparent;
    border-radius: 5px;
    color: var(--pluto-dark);
    cursor: pointer;
    font-size: var(--small);
    letter-spacing: .7px;
    min-width: 175px;
    padding: 1rem 1rem;
    text-align: left;
    transition: all .2s ease-in;
    vertical-align: top;
}

.btn__after {
    float: right;
}

.btn__after svg {
    animation: slide-grow 1.5s ease-in-out infinite;
    fill: var(--pluto-dark);
    margin-left: 35px;
    height: 16px;
    width: 16px;
    vertical-align: middle;
}

.btn:hover,
.btn:focus {
    background-color: var(--pluto-dark);
    border: 1px solid var(--pluto-peri);
    color: var(--pluto-peri);
    outline: none;
    transform: translateY(-5px);
    transition: all .2s ease-in;
}

.btn:hover svg,
.btn:focus svg {
    fill: var(--pluto-peri);
    transition: all .2s ease-in;
}

.btn:active {
    background-color: var(--pluto-peri);
    color: var(--white);
    transform: translateY(0px);
    transition: all .2s ease-in;
}

.btn:active svg {
    fill: var(--pluto-peri);
    transition: all .2s ease-in;
}

.btn--inverse {
    background-color: var(--pluto-dark);
    color: var(--pluto-peri);
}

.btn--inverse svg {
    fill: var(--pluto-peri);
}

.btn--inverse:hover,
.btn--inverse:focus {
    background-color: var(--pluto-peri);
    border: 1px solid var(--pluto-dark);
    color: var(--pluto-dark);
}

.btn--inverse:hover svg,
.btn--inverse:focus svg {
    fill: var(--pluto-dark);
}

.btn--inverse:active {
    background-color: var(--pluto-dark);
    color: var(--white);
}

.btn--inverse:active svg {
    fill: var(--pluto-dark);
}
