.email-input__btn {
    margin-left: 15px;
}

.email-input__label {
    color: var(--pluto-peri);
    font-size: var(--small);
    font-weight: 400;
    margin: 10px 0;
    position: absolute;
}

.email-input__email-success {
    animation: slide-up-fade-in .5s ease-in forwards;
    align-items: center;
    display: flex;
    margin: 15px 0;
    position: absolute;
    width: 100%;
}

.email-input__email-success-text {
    color: var(--pluto-peri);
    display: inline;
    font-size: var(--small);
    font-weight: 400;
    margin: 0px 0 0 30px;
    position: absolute;
    vertical-align: super;
}

.email-input__email-failure-text {
    background-color: var(--failure-bg);
    border-radius: 5px;
    color: var(--failure-text);
    display: inline;
    font-size: var(--small);
    font-weight: 300;
    margin: 15px 0 0 0;
    padding: 15px;
    position: absolute;
}

.email-input__email-failure {
    animation: slide-up-fade-in .5s ease-in forwards;
    display: none;
}

.email-input__checkmark {
    display: inline-block;
    height: 25px;
    width: 25px;
}

@media (max-width: 700px) {
    .email-input__btn {
        margin: 15px 0 0 0;
        width: 100%;
    }

    .email-input__input {
        width: 100%;
    }

    // .email-input__label {
    //     position: static;
    // }
    // .email-input__email-success {
    //     position: static;
    // }
    // .email-input__email-success-text {
    //     position: static;
    // }
    // .email-input__email-failure-text {
    //     position: static;
    // }
    // .email-input__email-failure {
    //     margin: 15px 0;
    // }
}
