.home-block-1 {
    display: flex;
    flex-direction: var(--resp-flex-direction);
    height: 500px;
    margin: 0 auto;
}

.home-block-1__img {
    border-radius: 5px;
    display: block;
    margin-left: auto;
    object-fit: cover;
    object-position: center;
    width: 50%;
}

.home-block-1__text-section {
    align-items: center;
    display: flex;
    padding: 0px 10px 0px 0px;
}

.home-block-1__main-text {
    font-size: var(--very-big);
    font-weight: 300;
}

.home-block-1__input-section {
    margin: 50px 0 0 0;
    position: relative;
}

@media (max-width: 700px) {
    .home-block-1 {
        height: unset;
        min-height: 80vh;
    }

    .home-block-1__img {
        margin: 0;
        padding: 10px;
        width: 100%;
    }

    .home-block-1__input-section {
        margin: 35px 0 70px 0;
    }   
}
