:root {
    // --black: #000000;
    --black: #0C0443;
    --white: #FFFFFF;
    --gold: #F7C500;
    --faded-gold: #f7c596;
    --faded: rgb(148, 148, 148);
    --gray: #636363;
    --grey: #636363;
    --copy-color: #000;
    --border-light: #CACACA;
    --failure-bg: #FFCBC7;
    --failure-text: #850900;

    --pluto-purple: #6237F4;
    --pluto-peri: #B0B6FF;
    --pluto-pink: #FE9F9F;
    --pluto-dark: #0C0443;
    --pluto-cream: #FFEDBF;
    --pluto-sea: #78EDDE;

    --main-color: var(--pluto-peri);
    --accent-color: var(--pluto-sea);

    --font-decorative: "Bebas Neue", Arial, sans-serif;
    --font-main: "Source Sans Pro", Arial, sans-serif;
    --font-copy: "Noto Sans HK", Arial, sans-serif;

    --copy-size: 1.15rem;
    --very-small: .8rem;
    --small: 1rem;
    --med: 1.3rem;
    --big: 3rem;
    --very-big: 3.75rem;
    --huge: 5rem;

    --resp-flex-direction: row;
    --max-width: 1400px;
}

@media (max-width: 700px) {
    :root {
        --copy-size: 21px;
        --very-small: .8rem;
        --small: 1rem;
        --med: 1.2rem;
        --big: 2rem;
        --very-big: 3rem;
        --huge: 4rem;
        
        --resp-flex-direction: column;
    }
}
